<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Greeting</title>
</head>
<body class="white">
<div class="container">
    <div class="col s12 center-align" style="border-radius: 15%; padding: 10px"><h1 class="red lighten-1">ERROR</h1>
    <p>Упс... Что-то пошло не так!</p>
    </div>
    <a href="/main"><div class=" waves-effect waves-light center-align">Назад</div></a>
</div>
</body>
</html>