<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



    <title>Security</title>
</head>
<body class="white">
<div class="container green lighten-5" style="border-radius: 15%; padding: 10px">
    <h1 class="col s12 center-align ">Login page</h1>
</div>
<div class="container">
<form action="/login" method="post">
    <div class="col segment4"><label class="special-text"> User Name: <input type="text" name="username"/> </label></div>
    <div class="col segment4"><label class="secondary-text"> Password <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div id="btn logbtn"><button  type="submit" class=" waves-effect waves-light btn"   >Sign In</button></div>
</form>
    <div class="right-align"><a href="/registration" class=" waves-effect waves-light btn">Add new User</a></div>
</div>
</body>
</html>